Workshop/Lab05/Begin/CookieCompany/ConsoleTestApp/Connected Services/proxy/ProductsService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="https://unespacioparanet.com/services/datacontrac/Fault" elementFormDefault="qualified" targetNamespace="https://unespacioparanet.com/services/datacontrac/Fault" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:53798/ProductsService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System" />
  <xs:complexType name="FaultCatalog">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="Exception" nillable="true" type="q1:Exception" />
      <xs:element minOccurs="0" name="IsError" type="xs:boolean" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FaultCatalog" nillable="true" type="tns:FaultCatalog" />
</xs:schema>