Workshop/Lab04/Begin/CookieCompany/ConsoleTestApp/Connected Services/proxy/ProductsService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="https://unespacioparanet.com/services/contracts/products" elementFormDefault="qualified" targetNamespace="https://unespacioparanet.com/services/contracts/products" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:53798/ProductsService.svc?xsd=xsd2" namespace="https://unespacioparanet.com/services/datacontrac/products" />
  <xs:element name="AddProductAsync">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="https://unespacioparanet.com/services/datacontrac/products" minOccurs="0" name="product" nillable="true" type="q1:Product" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddProductAsyncResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveProduct">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveProductResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="updateProduct">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="https://unespacioparanet.com/services/datacontrac/products" minOccurs="0" name="product" nillable="true" type="q2:Product" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateProductResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProducts">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="https://unespacioparanet.com/services/datacontrac/products" minOccurs="0" name="GetProductsResult" nillable="true" type="q3:ArrayOfProduct" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductsById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductsByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="https://unespacioparanet.com/services/datacontrac/products" minOccurs="0" name="GetProductsByIdResult" nillable="true" type="q4:Product" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>