Demos/Fundamentals/WCFFundamentals/TestService/Connected Services/proxy/OperacionesMatematicas1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://unespacioparanet.com" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://unespacioparanet.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://unespacioparanet.com/Imports">
      <xsd:import schemaLocation="http://localhost:50473/OperacionesMatematicas.svc?xsd=xsd0" namespace="http://unespacioparanet.com" />
      <xsd:import schemaLocation="http://localhost:50473/OperacionesMatematicas.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:50473/OperacionesMatematicas.svc?xsd=xsd2" namespace="http://unespacioparanet.com/DataContracts" />
      <xsd:import schemaLocation="http://localhost:50473/OperacionesMatematicas.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/WCFFundamentals" />
      <xsd:import schemaLocation="http://localhost:50473/OperacionesMatematicas.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IOperacionesMatematicas_Sumar_InputMessage">
    <wsdl:part name="parameters" element="tns:Sumar" />
  </wsdl:message>
  <wsdl:message name="IOperacionesMatematicas_Sumar_OutputMessage">
    <wsdl:part name="parameters" element="tns:SumarResponse" />
  </wsdl:message>
  <wsdl:message name="IOperacionesMatematicas_Resta_InputMessage">
    <wsdl:part name="parameters" element="tns:Resta" />
  </wsdl:message>
  <wsdl:message name="IOperacionesMatematicas_Resta_OutputMessage">
    <wsdl:part name="parameters" element="tns:RestaResponse" />
  </wsdl:message>
  <wsdl:message name="IOperacionesMatematicas_Multiplica_InputMessage">
    <wsdl:part name="parameters" element="tns:Multiplica" />
  </wsdl:message>
  <wsdl:message name="IOperacionesMatematicas_Multiplica_OutputMessage">
    <wsdl:part name="parameters" element="tns:MultiplicaResponse" />
  </wsdl:message>
  <wsdl:message name="IOperacionesMatematicas_Divide_InputMessage">
    <wsdl:part name="parameters" element="tns:Divide" />
  </wsdl:message>
  <wsdl:message name="IOperacionesMatematicas_Divide_OutputMessage">
    <wsdl:part name="parameters" element="tns:DivideResponse" />
  </wsdl:message>
  <wsdl:message name="IOperacionesMatematicas_GetFigure_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFigure" />
  </wsdl:message>
  <wsdl:message name="IOperacionesMatematicas_GetFigure_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFigureResponse" />
  </wsdl:message>
  <wsdl:message name="IOperacionesMatematicas_Catalog_InputMessage">
    <wsdl:part name="parameters" element="tns:Catalog" />
  </wsdl:message>
  <wsdl:message name="IOperacionesMatematicas_Catalog_OutputMessage">
    <wsdl:part name="parameters" element="tns:CatalogResponse" />
  </wsdl:message>
  <wsdl:message name="IOperacionesMatematicas_Numbers_InputMessage">
    <wsdl:part name="parameters" element="tns:Numbers" />
  </wsdl:message>
  <wsdl:message name="IOperacionesMatematicas_Numbers_OutputMessage">
    <wsdl:part name="parameters" element="tns:NumbersResponse" />
  </wsdl:message>
  <wsdl:message name="IOperacionesMatematicas_GetCar_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCar" />
  </wsdl:message>
  <wsdl:message name="IOperacionesMatematicas_GetCar_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCarResponse" />
  </wsdl:message>
  <wsdl:portType name="IOperacionesMatematicas">
    <wsdl:operation name="Sumar">
      <wsdl:input wsaw:Action="http://unespacioparanet.com/IOperacionesMatematicas/Sumar" message="tns:IOperacionesMatematicas_Sumar_InputMessage" />
      <wsdl:output wsaw:Action="http://unespacioparanet.com/IOperacionesMatematicas/SumarResponse" message="tns:IOperacionesMatematicas_Sumar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Resta">
      <wsdl:input wsaw:Action="http://unespacioparanet.com/IOperacionesMatematicas/Resta" message="tns:IOperacionesMatematicas_Resta_InputMessage" />
      <wsdl:output wsaw:Action="http://unespacioparanet.com/IOperacionesMatematicas/RestaResponse" message="tns:IOperacionesMatematicas_Resta_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Multiplica">
      <wsdl:input wsaw:Action="http://unespacioparanet.com/IOperacionesMatematicas/Multiplica" message="tns:IOperacionesMatematicas_Multiplica_InputMessage" />
      <wsdl:output wsaw:Action="http://unespacioparanet.com/IOperacionesMatematicas/MultiplicaResponse" message="tns:IOperacionesMatematicas_Multiplica_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Divide">
      <wsdl:input wsaw:Action="http://unespacioparanet.com/IOperacionesMatematicas/Divide" message="tns:IOperacionesMatematicas_Divide_InputMessage" />
      <wsdl:output wsaw:Action="http://unespacioparanet.com/IOperacionesMatematicas/DivideResponse" message="tns:IOperacionesMatematicas_Divide_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFigure">
      <wsdl:input wsaw:Action="http://unespacioparanet.com/IOperacionesMatematicas/GetFigure" message="tns:IOperacionesMatematicas_GetFigure_InputMessage" />
      <wsdl:output wsaw:Action="http://unespacioparanet.com/IOperacionesMatematicas/GetFigureResponse" message="tns:IOperacionesMatematicas_GetFigure_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Catalog">
      <wsdl:input wsaw:Action="http://unespacioparanet.com/IOperacionesMatematicas/Catalog" message="tns:IOperacionesMatematicas_Catalog_InputMessage" />
      <wsdl:output wsaw:Action="http://unespacioparanet.com/IOperacionesMatematicas/CatalogResponse" message="tns:IOperacionesMatematicas_Catalog_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Numbers">
      <wsdl:input wsaw:Action="http://unespacioparanet.com/IOperacionesMatematicas/Numbers" message="tns:IOperacionesMatematicas_Numbers_InputMessage" />
      <wsdl:output wsaw:Action="http://unespacioparanet.com/IOperacionesMatematicas/NumbersResponse" message="tns:IOperacionesMatematicas_Numbers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCar">
      <wsdl:input wsaw:Action="http://unespacioparanet.com/IOperacionesMatematicas/GetCar" message="tns:IOperacionesMatematicas_GetCar_InputMessage" />
      <wsdl:output wsaw:Action="http://unespacioparanet.com/IOperacionesMatematicas/GetCarResponse" message="tns:IOperacionesMatematicas_GetCar_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>